server {
    listen 80 ;
    server_name serverc.lab.example.com;
    return 301 https://$host$request_uri;
}
server {
    listen 443 ssl;
    server_name serverc.lab.example.com;
    ssl_certificate /etc/pki/tls/certs/serverc.lab.example.com.crt;
    ssl_certificate_key /etc/pki/tls/private/serverc.lab.example.com.key;
    location / {
        root /srv/nginx/www/;
        index index.html index.htm;
    }
}
