<html>
   <head>
       <title>Welcome to virtual.lab.example.com !</title>
   </head>
   <body>
   <h1>Success! The virtual.lab.example.com virtual host is working!</h1>
   <p>This site is hosted on serverc.lab.example.com.</p>
</body>
</html>
